# Don't keep intermediate files that don't get used by the frontend.  These can
# be easily re-downloaded via make.
static/overlays/*.osm

node_modules/
**/.ipynb_checkpoints/
.python-version

# tmp files
*.swp
*#
